* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

h3 {
  font-weight: 400;
}

.sort-navbar {
  padding: 0 6em;
  width: 100%;
  height: 10vh;
  background: linear-gradient(30deg, #3da4ab 0%, #9e3b62 100%);
  color: white;
}

.sort-navbar ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  column-gap: 2em;
}

.sort-navbar li:not(:last-child) {
  position: relative;
}

.sort-navbar li:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -1em;
  height: 60%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.sort-navbar li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.sort-navbar input[type='range'] {
  margin: 0 1em;
}

.sort-button {
  padding: 1em 0;
  position: relative;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5em;
  background-color: transparent;
  color: white;
  cursor: pointer;
  outline: none;
}

.sort-button::before {
  content: '';
  position: absolute;
  bottom: 0.5em;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
  background-color: currentColor;
  transition: transform 200ms ease-out;
}

.sort-button:hover::before,
.sort-button:focus::before {
  transform: scaleX(1);
  transform-origin: left;
}

.sort-canvas {
  display: grid;
  place-items: center;
}
